footer {
    height: 26vh;
    margin: 0 1rem;
  }
  
  footer p {
    text-align: center;
  }

  .footer_container {
    display: flex;
    justify-content: center;
  }
  
  @media screen and (max-width: 1400px) {
 
  }
  
  @media screen and (max-width: 1200px) {
  
  }
  
  @media screen and (max-width: 600px) {
    .footer_container {
      display: flex;
      width: 90%;
    }

   

    .footer nav{
      height: fit-content;
    margin-bottom: 2rem;
    }

    .nav-links ul{
      display: flex;
      flex-direction: row;
    }

   
  }

  @media screen and (max-width: 500px) {

    .footer_container{
      padding-top: 50px;
    }

    .nav-links{
      flex-direction: column;
    gap: 1rem;
    text-align: center;
    }
   
  }