@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins:wght@300;400;500;600&display=swap');




  .header_container {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
  }
  
  .section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
  }
  
  .section__text {
    align-self: center;
    text-align: center;
  }
  
  .section__text p {
    font-weight: 600;
  }
  
  .section__text__p1 {
    text-align: center;
  }
  
  .section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: #585858;
    
  }
  
  .title {
    font-size: 40px;
    text-align: center;
    line-height: 0.10
  }
  
  .icon-container {
    display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
  }

  .header_pic {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: cover;
  }

  .linkedin_header_icon{
    cursor: pointer;
    height: 2rem;

  }

  .github_header_icon{
    cursor: pointer;
    height: 2rem;

  }
  
  @media screen and (max-width: 1400px) {
    .header_container{
      height: 83vh;
      margin-bottom: 6rem;
    }
    
  }
  
  @media screen and (max-width: 1200px) {
    .header_container {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 35%;
      margin: auto;
      padding-bottom: 100px;
      
      
    }

    .section__pic_container {
      max-width: 100%;
      max-height: auto;
      margin: 0 auto 2rem;
      
    }

    
  }

  @media screen and (max-width: 900px) {
    .
    {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 47%;
      margin: auto;
      padding-bottom: 100px;
    }

    .section__pic_container {
      max-width: 100%;
      max-height: auto;
      margin: 0 auto 2rem;
      
    }
   
  }

  @media screen and (max-width: 800px) {
    .header_container
    {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 47%;
      margin: auto;
      padding-bottom: 100px;
    }

    .section__pic_container {
      max-width: 100%;
      max-height: auto;
      margin: 0 auto 2rem;
      
    }
   
  }

  @media screen and (max-width: 700px) {
    .header_container
    {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 55%;
      margin: auto;
      padding-bottom: 100px;
    }

    .section__pic_container {
      max-width: 100%;
      max-height: auto;
      margin: 0 auto 2rem;
      
    }
   
  }
  
  @media screen and (max-width: 600px) {
    .header_container
    {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 65%;
      margin: auto;
      padding-bottom: 100px;
    }

    .section__pic_container {
      max-width: 100%;
      max-height: auto;
      margin: 0 auto 2rem;
      
    }
   
  }

  @media screen and (max-width: 500px) {
    .header_container{
      display: flex;
      flex-direction: column;
      height: 72v2;
      width: 75%;
      margin: auto;
      padding-bottom: 100px;
    }

    .section__pic_container {
      width: auto;
    height: 46vw;
      margin: 0 auto 2rem;
      
    }
  }

  @media screen and (max-width: 400px) {
    .header_container{
      display: flex;
      flex-direction: column;
      height: 72v2;
      width: 95%;
      margin: auto;
      padding-bottom: 100px;
    }

    .section__pic_container {
      width: auto;
    height: 46vw;
      margin: 0 auto 2rem;
      
    }
  }